body {
    background-color: white;
    color: black;
    font-family: Arial;
    margin: 0px;
}

main {
    color: black;
    font-family: Arial;
    margin: 13px 26px 62.5px;
    padding: 10px;
    border-radius: 9px;
    font-size: 14pt;
}

header {
    background-color: #003c7e;
    color: white;
    font-family: Arial;
    font-size: 14pt;
    padding: 13px;
}

footer {
    background-color: #003c7e;
    color: white;
    font-family: Arial;
    font-size: 12pt;
    padding: 13px;
    font-style: italic;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    color: #003c7e;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #003c7e;
    text-decoration: underline;
    box-shadow: 3px 3px 1px #0002;
    transition: 0.3s;
}
